<h2>Iniciar Sesion</h2>
<form action="" method="POST">
  <input type="email" name="email" placeholder="Correo Electronico" required />
  <input type="password" name="password" placeholder="Contraseña" required />
  <button type="submit">Iniciar Sesión</button>
</form>